{%extends 'CodeHub/form_base.html'%}
{%block content%}
<div class="content">
    <h5 class="display-5">ALL QUESTIONS</h5>
    {%for question in questions%}
        <hr>
        <b><a href="{%url 'ques_detail' pk=question.pk%}">{{question.content}}</a><br>
        <i>Asked By : <a href="{%url 'profile' string=question.author%}">{{question.author}}</a> on {{question.added_time}}</i></b>
        {%if question.author == request.user%}
            <div class="center">
                <a href="#" data-bs-toggle="modal" data-bs-target="#qModal-{{question.pk}}">{%include './icons/trash.svg'%}</a>
            </div>
            <div class="modal fade" id="qModal-{{question.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float:right;"></button>
                            <h5 class="modal-title" id="exampleModalLabel">Do you want to delete this question?</h5>
                            <form method="POST" action="{%url 'delete_ques' pk=question.pk%}">
                                {%csrf_token%}
                                <div class="center">
                                    <button type="submit" class="form-btn" name="yes">YES</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}
    {%endfor%}
</div>
{%endblock%}
