{%extends 'CodeHub/form_base.html'%}
{%block content%}
<div class="content">
    <h4>{{question.content}}</h4>
    <b><i>Asked By : <a href="{%url 'profile' string=question.author%}">{{question.author}}</a> on {{question.added_time}}</i></b><br>
    <div class="center">
        <a href="{%url 'add_ans' pk=question.pk%}"><button class="form-btn">Answer this Question</button></a>
    </div>
    {%for answer in answers%}
        <hr>
        {{answer.content|safe}}
        <b><i>Answered By : <a href="{%url 'profile' string=answer.author%}">{{answer.author}}</a> on {{answer.added_time}}</i></b><br>
        {%if answer.author == request.user%}
            <div class="center">
                <a href="{%url 'edit_ans' pk=question.pk ak=answer.pk%}">{%include './icons/pencil-fill.svg'%}</a>
                <a href="#" data-bs-toggle="modal" data-bs-target="#answerModal-{{answer.pk}}">{%include './icons/trash.svg'%}</a>
            </div>
            <div class="modal fade" id="answerModal-{{answer.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="float:right;"></button>
                            <h5 class="modal-title" id="exampleModalLabel">Do you want to delete this answer?</h5>
                            <form method="POST" action="{%url 'delete_ans' pk=question.pk ak=answer.pk%}">
                                {%csrf_token%}
                                <div class="center">
                                    <button type="submit" class="form-btn" name="yes">YES</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {%endif%}
    {%endfor%}
</div>
{%endblock%}
